@media ( max-width: 1200px )
    .conteiner
        max-width: 960px    
@media ( max-width: 992px )
    .conteiner
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            margin-top: 30px
            margin-bottom: 30px
            padding: 0
        &_search
            margin-left: auto
            margin-right: 73px
            max-width: 340px
        &_menu
            margin: auto
            max-width: 673px
            padding-top: 21px
            padding-bottom: 21px
            &_link
                font-size: 12px
                line-height: 15px
@media ( max-width: 768px )
    .conteiner
        max-width: 576px
        width: 92%
    .navbar
        &_menu, &_search, &_user
            display: none            
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            cursor: pointer
            background-color: #fff
            &_line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &_text
                width: 100%
            &_name
                margin-top: 10px
                margin-bottom: 0
            &_rating
                display: none
            &_offer
                margin-left: 0
                order: -1       
@media ( max-width: 576px )
    .logo
        width: 99px